@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-900 text-white selection:bg-amber-500/30;
  background-image: radial-gradient(circle at 50% 0%, #1e293b 0%, #0f172a 100%);
  min-height: 100vh;
}